.loginPage{
   background-color: blue;
   background-image: url("src/assets/library-background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   /* filter: blur(4px); */
   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);

}
.loginPageContent{
   width: 50%;
   /* background-color: whitesmoke; */
   border: 2px solid black;
   background-color:(0,0,0,0.8);
   box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);

}
.LogoDiv{
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
   & img{
      border-radius: 6rem;
      width: 8.5rem;
   }
}
.loginForm{
   display: flex;
   flex-direction: column;
   align-items: center;
}
@media (max-width:700px){

   .LogoDiv{
      flex-wrap: wrap;

   }
   .loginPageContent{
      width: 80%;
   }
   
}
