.leftsection{
    display: flex;
    align-items: center;
    gap: 1rem;

    & input{
        width: 16rem;
        border-radius: 1rem;
        padding-block: 0.1rem;
        padding-inline: 1rem;
    }

 
    & img{
        width: 2.5rem;
    }
}

.avatarDesigin{
    display: flex;
    gap: 1rem;
    align-items: center;
    border-left: 1px solid black;
    padding-inline: 1rem;
}

.searchSection{
    position: relative;
}
.searchIcon{
    position: absolute;
    right: 6px;
    top: 6px;
}