.mainDiv{
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}
.firstSection{
    max-width: 20rem;

}
.secondSection{
    max-width: 20rem;
   margin-inline: auto;
}

.thirdSection{
    max-width: 20rem;
    margin-inline: auto;

}